.inputItem {
  box-sizing: border-box;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  padding: 8px;
}

.inputItem label {
  font-size: 15px;
  flex-shrink: 1;
}

.input {
  margin: auto;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: inherit;
  width: 50%;
}