.DataTable {
  padding: 0 32px 32px;
}

.DataTable table {
  border-collapse: collapse;
}

.DataTable th,
.DataTable td {
  border: 1px solid black;
  padding: 4px 8px;
}

.Subcategory {
  font-size: 0.9em;
  margin: 5px;
  padding: 2px 5px;
  background-color: rgba(85, 107, 47, 0.301);
  border-radius: 15px;
}