.checkBox {
  cursor: pointer;
  border-radius: 25px;
  padding: 4px 8px;
  margin: 5px;
}

.checkBox input {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.notChecked {
  composes: checkBox;
  background-color: rgba(85, 107, 47, 0.13);

}

.checked {
  composes: checkBox;
  background-color: rgba(85, 107, 47, 0.342);
}