.Toolbar {
    background-color: #6b705c;
    height: 56px;
    width: 100%;
    padding: 0;
    position: fixed;
    align-items: center;
    display: flex;
    top: 0;
    left: 0;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
    z-index: 90;
    border-bottom: 1px solid #a5a58d;
}

.Toolbar nav {
    height: 100%;
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}