.entryForm {
  padding: 5px;
  margin: auto;
}

.entryForm input {
  margin: auto;
  box-sizing: border-box;
}

.entryForm form {
  box-sizing: content-box;
  margin: auto;
  max-width: 450px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.hide {
  display: none !important;
}

.entryForm button {
  padding: 5px;
  margin: 5px 10px;
}

.formDiv {
  box-sizing: border-box;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  padding: 8px;
}

.formDiv label {
  font-size: 15px;
  flex-shrink: 1;
}

.choices {
  flex: 8;
}

.inputsContainer {
}
