.entryForm {
  padding: 5px;
  margin: auto;
}

.entryFormInput {
  margin: auto;
  box-sizing: border-box;
  border: none;
  background-color: inherit;
  color: inherit;
  width: 55%;
}

.entryForm form {
  box-sizing: content-box;
  margin: auto;
  max-width: 450px;
  display: grid;
  grid-template-columns: auto auto;
}

.hide {
  display: none !important;
}

.entryForm button {
  padding: 5px;
  margin: 5px 10px;
}

.formDiv {
  box-sizing: border-box;
  font-size: 18px;
  align-items: center;
  display: flex;
  flex-direction: column wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  padding: 8px;
}

.formDiv label {
  font-size: 15px;
  flex-shrink: 1;
}

.inputGroup {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  width: 80%;
}

.grid2 {
  grid-column: 1 / span 2;
}