.entryForm {
  padding: 5px;
  margin: auto;
}

.entryForm input,
.entryForm select {
  width: 50%;
  margin: auto;
  box-sizing: border-box;
}

.entryForm form {
  box-sizing: content-box;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.entryForm label {
  padding: 5px;
}

.entryForm button {
  padding: 5px;
}

.checkBox {
  margin: 5px;
}

.checkBox input {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.notChecked {
  cursor: pointer;
  border-radius: 25px;
  padding: 4px 8px;
  background-color: rgba(85, 107, 47, 0.13);

}

.checked {
  cursor: pointer;
  border-radius: 25px;
  padding: 4px 8px;
  background-color: rgba(85, 107, 47, 0.342);
}

.inputGroup {
  padding: 15px 0;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 500px;
  width: 80%;
}