.Content {
    position: relative;
    top: 56px;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    justify-content: space-evenly;
    overflow: hidden;
    box-sizing: border-box;
}

